.header{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    box-shadow: 0px 0px 2px #000000;
    background-color: white;
}
.left{
    flex: 1;
}

.logo{
    padding-top: 10px;
    padding-left: 10px;
    width: 240px;
}

.mid{
    flex: 2;
    padding-left: 200px;
    padding-top: 25px;
}
.right{
    flex: 1;
}
.home{
    text-decoration: none;
    color: #7f7f7f;
    margin-left: 40px;
}
.home:hover{
    cursor: pointer;
    color: #000000;
}
.hiw{
    text-decoration: none;
    color: #7f7f7f;
    margin-left: 40px;
}
.hiw:hover{
    cursor: pointer;
    color: black;
}
.ser{
    text-decoration: none;
    color: #7f7f7f;
    margin-left: 40px;
}
.ser:hover{
    cursor: pointer;
    color: #000000;
}
.cu{
    text-decoration: none;
    color: #7f7f7f;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.cu:hover{
    cursor: pointer;
    color: black;
}
.blog{
    text-decoration: none;
    color: #7f7f7f;
    margin-left: 40px;
}
.blog:hover{
    cursor: pointer;
    color: black;
}
.loginbutton{
    margin-top: 15px;
    margin-left: 200px;
    margin-right: 40px;
    width: 120px;
    height: 40px;
    border-style: none;
    background-color: #006AFF;
    color: #efefef;
    border-radius: 4px;
    transition: background-color .3s;
}
.loginbutton:hover{
    cursor: pointer;
    background-color: #2780fe;
}
.firstblock{
    margin-top: 100px;
}